@use "variables" as v;

.contacto {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
    align-items: center;
    padding: 10px;

}

.logocontacto {
    height: 15vw;
}

.form {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}

label {
     @include v.hs(v.$fuenteSecundaria, auto, v.$colorContraste, left, none );
    font-weight: 600;
    
}

.ifihad {
    width: 25vw;
}
