/*arranca a 1h 18'*/

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&display=swap');

$fuentePrimaria: "Borel", cursive;
$fuentePrimariaColor: white;
$fuenteSecundaria: "outfit", sans-serif;
$colorContraste:  #333333;
$colorRefugio: rgb(155, 98, 209);

* {
    margin: 5;
    padding: 0;
}


@mixin hs($font, $sizing, $color, $align, $decoration){
   font-family: $font;
   font-optical-sizing: $sizing;
   color: $color;
   text-align: $align;
   text-decoration: $decoration;

}

@mixin mobile{
    @media (min-width: 320px) and (max-width: 430px) {
        @content;
}}