/*arranca a 1h 18'*/

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Outfit:wght@100..900&display=swap');

$fuentePrimaria: Borel;
$fuentePrimariaColor: white;
$fuenteSecundaria: Outfit;
$colorContraste:  #333333;
$colorRefugio: rgb(155, 98, 209);
            