/*archivo principal de SASS*/

@use "variables";
@use "header";
@use "home";
@use "productos";
@use "blog";
@use "nosotros";
@use "contacto";
@use "detalleproducto";
@use "footer";

@media (min-width: 320px) and (max-width: 430px) {

    /*PRODUCTOS*/

    .galeria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 50vw;
    }

    .imgprod {
        width: 50vw;
    }

        /*NOSOTROS*/
    
    .nosotros{
        display: flex;
        flex-wrap: wrap;
       flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img1{
    width: 80vw;
        padding: 10px;
}
.img2{
    height: 35vh;
    padding: 10px;
}
    
    /*CONTACTO*/

    .contacto {
        display: flex;
        flex-flow: column;
        row-gap: 10px;

    }

    .ifihad {
        width: 75vw;
    }
}


/*luego ejecutar en terminal sass --watch sass/style.scss style/style.css estoy es 1h 29'*/